{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicon/apple-icon-57x57.png" %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static "img/favicon/android-icon-192x192.png" %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link href="{% static "css/weather-icons.min.css" %}" rel="stylesheet" media="screen">
<link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>var ambiente = JSON.parse({{ambiente|safe}})</script>
<script src="{% static 'js/plot.js' %}"></script>
<title>AutoHome</title>
</head>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'controleambiente:home' %}">AutoHome</a>
        </div>
        <!-- last update -->
        <div class="text-light" id="horaagora">    
            <p> ultima atualizacao </p>
            {{ sen1 }}
        </div>		 
    </div>
</nav>

<body>
    





<div class="quadro" style="border-radius: 4px;background:cyan;height:100px;width:80%;margin:0 auto;margin-top:40px;">

    <div class="qesq" style="border-radius: 4px;background:#537686;float:left;height:100px;width:100%;">
        
        <!--foto-->
        <div class="foto" style="float:left;height:100px;width:25%;">
            <div style="margin-top:20px;height:100px;width:100%;text-align:center-vertical;"><img src="{% static "img/zep.png" %}" class="rounded-circle" alt="zep" height="60px" style="margin:auto;display:block" /></div>
        </div>
        
        <!-- informacoes -->
        <div class="info" style="float:left;height:50px;width:15%;float:left;position:relative">
            <div style="margin-top:10px;margin-right:10px;text-align:right"><i class="wi wi-thermometer"></i> </div>
        </div>
        <div class="info" style="float:left;height:50px;width:60%;float:left;position:relative;">
            <div id="tempm" style="margin-top:10px">˚C </div>  
        </div>
        <div class="info" style="float:left;height:50px;width:15%;float:left;position:relative">
            <div style="margin-top:10px;margin-right:10px;text-align:right"><i class="wi wi-humidity"></i></div>
        </div>
        <div class="info" style="float:left;height:50px;width:60%;float:left;position:relative;">
            <div style="margin-top:10px">{{umid1}}% </div>  
        </div>
        <!--
        <div class="info" style="float:left;height:100px;width:100%;float:left;position:relative;">
            <div id="myDiv" style="margin:0 auto;height:100px;width:80%;"></div>
        </div>
        -->
    </div>
    
        

</div>

<div class="quadro" style="border-radius: 4px;background:pink;height:100px;width:80%;margin:0 auto;margin-top:40px;">

    <div class="qesq" style="border-radius: 4px;background:pink;float:left;height:100px;width:100%;">
        
        <!--foto-->
        <div class="foto" style="float:left;height:100px;width:25%;">
            <div style="margin-top:20px;height:100px;width:100%;text-align:center-vertical;"><img src="{% static "img/tete.png" %}" class="rounded-circle" alt="zep" height="60px" style="margin:auto;display:block" /></div>
        </div>
        <!-- informacoes -->
        <div class="info2" style="float:left;height:50px;width:15%;float:left;position:relative">
            <div style="margin-top:10px;margin-right:10px;text-align:right"><i class="wi wi-thermometer"></i> </div>
        </div>
        <div class="info2" style="float:left;height:50px;width:60%;float:left;position:relative;">
            <div id="tempn" style="margin-top:10px">˚C </div>  
        </div>
        <div class="info2" style="float:left;height:50px;width:15%;float:left;position:relative">
            <div style="margin-top:10px;margin-right:10px;text-align:right"><i class="wi wi-humidity"></i></div>
        </div>
        <div class="info2" style="float:left;height:50px;width:60%;float:left;position:relative;">
            <div style="margin-top:10px">{{umid1}}% </div>  
        </div>
        
    </div>
        
</div>
<br>
<div id="myDiv" style="background-color:rgb(150,150,150);border-radius: 4px;margin:0 auto;height:200px;width:80%;"></div>
<br>


<!--<div id="line_top_x" ></div>-->
<div class="container" style="color: white";>

 {{ arcond1.local }}
 {{ arcond1.onoff }}
 <br>
 {{ arcond2.local }}
 {{ arcond2.onoff }}

</div>

<div style="color: cyan;">
{% for i in room %}
    <p>{{ i.nome }}</p>
{% endfor %}
</div>


</body>
</html> 



